<div class="collection-card" data-controller="edit-collection" data-edit-collection-target="card">
  <%# <%= image-tag collection.image_url %>

  <div class="collection-infos" data-edit-collection-target="infos">
    <h2><%= link_to collection.title, collection_path(collection) %></h2>
    <% if collection.editable? %>
      <button aria-label="Edit collection">
        <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->edit-collection#reveal"></i>
      </button>
      <%= link_to 'ðŸ—‘ï¸', collection_path(collection), data: {turbo_method: :delete, turbo_confirm: "Do you want to remove this collection?"}%>
    <% end %>
  </div>

  <%= simple_form_for collection, html: {class: "d-none", data: {edit_collection_target: "form", action: "submit->edit-collection#update"}} do |f| %>
    <%= f.input :title %>
    <%= f.submit "Update collection"%>
  <% end %>
</div>
