<div class="collection-folder col-6 mb-3">
  <% if collection.count >= 4 %>
    <div class="folder folder-grid">
      <% collection.first(4).each do |encounter| %>
        <% activity = encounter.activity %>
        <% if activity.photo.present? %>
          <%= cl_image_tag activity.photo.key, class: 'img-small' %>
        <% else %>
          <%= image_tag "placeholder.gif", alt: "Placeholder image", class: 'img-small' %>
        <% end %>
      <% end %>
      <div class="overlay">
        <h5 class="folder-title"><%= name %></h5>
      </div>
    </div>
  <% elsif collection.count > 0 %>
    <div class="folder">
      <% activity = collection.first.activity %>
      <% if activity.photo.present? %>
        <%= cl_image_tag activity.photo.key, class: 'img-big' %>
      <% else %>
        <%= image_tag "placeholder.gif", alt: "Placeholder image", class: 'img-big' %>
      <% end %>
      <div class="overlay">
        <h5 class="folder-title"><%= name %></h5>
      </div>
    </div>
  <% end %>

</div>
