<div class="collection-card" data-controller="edit-collection" data-edit-collection-target="card">
  <%# <%= image-tag collection.image_url %>

  <div class="collection-infos" data-edit-collection-target="infos">
    <h2><%= collection.title %></h2>
    <button aria-label="Edit collection">
      <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->edit-collection#reveal"></i>
    </button>
  </div>

  <%= simple_form_for [current_user, collection], html: {class: "d-none", data: {edit_collection_target: "form", action: "submit->edit-collection#update"}} do |f| %>
    <%= f.input :title %>
    <%= f.submit "Update collection"%>
  <% end %>
</div>
