<h1>Collections#index</h1>
<p>Find me in app/views/collections/index.html.erb</p>
<div data-controller="search-collections">
  <%= form_with url: collections_path, method: :get, html: {class: "mb-4", data: {search_collections_target: "form"}} do |f| %>
          <%= f.label :query, "Type a collection title" %>
          <%= f.text_field :query,
                           class: "form-control",
                           value: params[:query],
                           data: {search_collections_target: "input", action:"keyup->search-collections#search"}
                           %>
        <% end %>
</div>

<div class="container">
  <h2>Your Collection</h2>
  <div >
   <%= render "collection_cards", collection: @collection %>
  </div>
  <%= link_to "Add your collection", new_collection_path %>
</div>
