<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <% if @search_activities %>
        <%= render 'searches/search_results', activities: @search_activities %>
      <% else %>
        <div class="title d-flex">
          <%= link_to collections_path do %>
            <%= image_tag 'return.png' %>
          <% end %>
          <h1><%= @collection.title %></h1>
        </div>
        <div>
          <% @activities.each do |activity| %>
            <%= render 'activities/activity_card', activity: activity %>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="mapcontainer" data-controller="showmap">
  <button class="btn btn-primary showmap-btn" data-action='click->showmap#show' data-showmap-target='mapbutton'>
    <i class="fa-solid fa-map-location-dot me-1"></i>
    Map
  </button>

  <div class="activity-modal mapmodel" data-showmap-target='modal'>
    <div class="model-body container">
        <div class="row">
          <div class="col-12 map-box">
            <%= render 'activities/map', activities: @collection.activities %>
          </div>
        </div>
      </div>
    <div class="close-btn" data-action='click->showmap#collapse'> <i class="fa-solid fa-xmark"></i></div>
  </div>
</div>
