
<div class="container generalform">
  <div class="row">
    <div class="col-12">
      <h2>Resend unlock instructions</h2>
      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Resend unlock instructions" , :class=> 'btn-info mb-3' %>
        </div>
      <% end %>
    </div>
    <div class="col-12 share-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
