<h1>My Account</h1>

  <div class="row d-flex justify-content-center">
    <div>
      <div class="row">
        <%= image_tag "heros.jpeg", class: "avatar-large" %>
        <div class="flex-column">
          <h2><%= @user.name %></h2>
        </div>
      </div>
    </div>
  </div>

<%# <% if @user.photo.present? %>
  <%# <%= cl_image_tag @user.photo.key, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag "heros.jpeg", size: "200" %>
<%# <% end %>
<h3>My activities</h3>
<div>
  <p>View on map</p>
  <%= link_to "My Collections", collections_path %>
</div>

<h3>My activities</h3>
<div>
  <%# <%= render partial: "./activites/activity_cards", users: @users%>
</div>

<%= link_to "Edit my profile", edit_user_registration_path %>
<%= link_to "Log out", destroy_user_session_path %>
