<h1>My Account</h1>

<h2><%= @user.name %>'s Profile</h2>
<div>
  <%= image_tag "heros.jpeg", size: "200" %>
</div>
<%# <% if @user.photo.present? %>
  <%# <%= cl_image_tag @user.photo.key, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag "heros.jpeg", size: "200" %>
<%# <% end %>
<h3>My activities</h3>
<div>
  <p>View on map</p>
  <%= link_to "My Collections", user_collections_path(@collection) %>
</div>

<h3>My activities</h3>
<div>
  <%# <%= render partial: "./activites/activity_cards", users: @users%>
</div>

<%= link_to "Edit my profile", edit_user_registration_path(@user) %>
<%= link_to "Log out", destroy_user_session_path %>
