<div class="container profile-page">
  <div class="row">
    <div class="col-12">
      <h1>My Account</h1>
    </div>
    <div class="col-12 d-flex justify-content-between align-content-center">
      <h2><%= @user.name %></h2>
      <%= image_tag "heros.jpeg", class: "avatar-large" %>
    </div>
    <div class="col-12">
      <h3>My activities</h3>
      <ul class="list-activities">
        <li class="d-flex justify-content-start align-items-center">
          <%= image_tag "marker_green.png", :style => "width: 20px" %>
          <%= link_to "Liked Activities", map_users_path %>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <%= image_tag "save.png", :style => "width: 20px" %>
          <%= link_to "Saved Collections", collections_path %>
        </li>
      </ul>
    </div>
    <div class="col-12 like_carousel">
      <h3>Recently liked</h3>
      <%= render 'activities/carousel', activities: @liked_activities %>
    </div>
    <div class="col-12 mb-5 mt-3 btn-section">
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-info  border rounded-2"%>
        <%= link_to "Log Out", destroy_user_session_path, class: "btn btn-dark border rounded-2" , data: {turbo_method: :delete} %>
      </div>
    </div>
  </div>
</div>

<%# <% if @user.photo.present? %>
  <%# <%= cl_image_tag @user.photo.key, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag "heros.jpeg", size: "200" %>
<%# <% end %>
