<%= render 'searches/search', path: category_index_category_path(@category) %>

<div class="container page-header">
  <div class="row">
    <div class="col-12">
      <h1><%= @category.name.capitalize %> activities</h1>
    </div>
  </div>
</div>
<section class="list-activities">
  <div class="container">
    <div class="row">
      <% if @activities.empty?%>
        <h2><%= link_to category_path(@category) do %>
         <p>No result, Go back to <u><%= "#{@category.name}" %></u></p>
        <% end %>
        </h2>
      <% else %>
        <% @activities.each do |activity| %>
          <%= render 'activities/activity_card', activity: activity %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
