  <div class="col-12">
    <%= link_to activity_path(activity) do %>
    <div class="activity-card mb-4">
      <div class="card-inner">
        <div class="image-box">
          <img src="<%= activity.photo_url %>" alt="photo of <%= activity.title %>">
          <%# <img src="https://res.cloudinary.com/drdreto8e/image/upload/c_fill/v1/production/roqtndlhb07m0w1kgg55sgemwo6o"> %>
          <%= link_to categories_path(), class: "link-btn btn-heart" do %>
            <span><i class="fa-regular fa-heart"></i></span>
          <% end %>
          <%= link_to categories_path(), class: "link-btn btn-checkview" do %>
            <span><i class="fas fa-user-check"></i></span>
          <% end %>
          <%= link_to categories_path(), class: "link-btn btn-subnav" do %>
            <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
          <% end %>
        </div>
        <div class="text-box p-3">
          <div class="header">
            <h3><%= link_to activity.title, activity_path(activity) %></h3>
            <% if user_signed_in? %>
              <span><%= activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi</span>
            <% end %>
          </div>
          <p><%= activity.description%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
