<% category_tag = "-#{category.id}" if defined?(category) %>

<div id="activitycarousel<%= category_tag %>" class="carousel slide" data-bs-touch="true">
  <div class="carousel-indicators">
    <% activities.each_with_index do |slide, i| %>
      <button type="button" data-bs-target="#activitycarousel<%= category_tag %>" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" ;%>" aria-current="<%= i == 1 ? "true" : "" ;%>" aria-label="Slide <%= i %>"></button>
    <%end%>
  </div>
  <div class="carousel-inner">
    <% activities.each_with_index do |activity, i| %>
      <% encounter = Encounter.find_by(user_id: current_user.id, activity_id: activity.id) if user_signed_in? %>
      <div class="carousel-item <%= i == 0 ? "active" : "" ;%>" data-controller='activity' data-activity-userid-value='<%= user_signed_in? ? current_user.id : 0 %>' data-activity-encounterid-value='<%= defined?(encounter) && encounter ? encounter.id : 0 %>' data-value='<%= activity.id %>'>
        <div class="activity-card mb-2">
          <%= render 'activities/activity', activity: activity, encounter: encounter %>
        </div>
      </div>
    <%end%>
  </div>
</div>
