<div class="custom-container categories-container">
  <div class="row">
    <div class="col-md-12 categories-headinfo">
      <div class="cat-header d-flex justify-content-between align-items-center">
        <h2><%= category.name %></h2> <%= link_to category_path(category) do %>
          See more <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 categories-contentinfo">
      <div class="carousel" data-controller='carousel' data-carousel-length-value='<%=activities.length%>' data-carousel-userid-value='<%= user_signed_in? ? current_user.id : 0 %>'>
        <div class="inner" data-carousel-target='inner'>
          <% activities.each_with_index do |activity, i| %>
            <% encounter = Encounter.find_by(user_id: current_user.id, activity_id: activity.id) if user_signed_in? %>
            <!-- DO NOT DELETE: data-controller='activity' data-activity-userid-value='<%= user_signed_in? ? current_user.id : 0 %>' data-value=<%= activity.id %> in the line below
            BUT DO NOT RESTORE: the deleted item for carousel_controller
            the classes 'activity-card carousel-item' are unique to carousel items -->
            <div class='activity-card carousel-item h-100' style='left: <%= i * 100 %>%' data-controller='activity' data-carousel-target='item' data-activity-userid-value='<%= user_signed_in? ? current_user.id : 0 %>' data-value='<%= activity.id %>'>
              <div class="card-inner">
                <div class="image-box">
                  <img src="<%= activity.photo_url %>" alt="photo of <%= activity.title %>">
                  <%# <img src="https://res.cloudinary.com/drdreto8e/image/upload/c_fill/v1/production/roqtndlhb07m0w1kgg55sgemwo6o"> %>
                  <!-- added data-action to the div -->
                  <div class="link-btn btn-heart" data-action="click->activity#like">
                    <span><i class="<%= encounter && encounter.liked ? 'heart-solid' : 'heart-regular' %> heart-icon" data-activity-target='heart'></i></span>
                  </div>
                  <div class="link-btn btn-checkview" data-action="click->activity#attended" data-activity-target='link'>
                    <span><i class='<%= encounter && encounter.attended ? "star star-#{encounter.rating}" : 'checkmark' %>' data-activity-target='attended'></i></span>
                  </div>

                  <div class="stars d-none" data-activity-target="stars" data-action="click->activity#rate">
                    <span><i class='star star-1' data-rating='1'></i></span>
                    <span><i class='star star-2' data-rating='2'></i></span>
                    <span><i class='star star-3' data-rating='3'></i></span>
                    <span><i class='star star-4' data-rating='4'></i></span>
                    <span><i class='star star-5' data-rating='5'></i></span>
                  </div>

                  <%= link_to save_activity_path(activity), data: {turbo_method: :patch}, class: "link-btn btn-subnav" do %>
                    <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                  <% end %>
                </div>
                <div class="text-box p-3">
                  <div class="header">
                    <%= link_to click_activity_path(activity), data: {turbo_method: :patch} do %>
                      <h3><%= link_to activity.title, activity_path(activity) %></h3>
                    <% end %>
                    <% if user_signed_in? %>
                      <span><i class="fa-solid fa-location-dot me-2 mb-2"></i><%= activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi</span>
                    <% end %>
                  </div>
                  <p><%= activity.description%></p>
                </div>
              </div>
            </div>
          <%end%>
        </div>
        <div class='left slider-btn' type='text' data-action='click->carousel#moveLeft'><i class="fa-solid fa-chevron-left"></i></div>
        <div class='right slider-btn'type='text' data-action='click->carousel#moveRight'><i class="fa-solid fa-chevron-right"></i></div>
      </div>
    </div>
  </div>
</div>
