<h2><%= category.name %></h2>
    <%= link_to "See more", category_path(category) %>


<div class="carousel" data-controller='carousel' data-carousel-length-value='<%=activities.length%>' data-carousel-userid-value='<%= user_signed_in? ? current_user.id : 0 %>'>
  <div class="inner" data-carousel-target='inner'>
      <% activities.each_with_index do |activity, i| %>
        <div class="carousel-item" style='left: <%= i * 100%>%' data-carousel-target='item' data-value=<%= activity.id %>>
          <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.88847xw:1xh;center,top&resize=1200:*", alt="photo of <%= activity.title %>" style="width: 180px">
          <%= link_to activity.title, activity_path(activity) %>
          <% if user_signed_in? %>
            <p><%= activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi</p>
          <% end %>
        </div>
      <%end%>
  </div>
  <button class='left' type='text' data-action='click->carousel#moveLeft'>Left</button>
  <button class='right'type='text' data-action='click->carousel#moveRight'>Right</button>
</div>
