<div class="activity-modal" data-activity-target='modal' data-id="<%= activity.id%>">
  <% if user_signed_in? %>
    <div class="model-body container">
      <div class="row">
        <div class="col-12">
          <div class="model-header mt-5 mb-3">
            <div class='options' data-activity-target='options'>
              <div class="iconbox d-flex flex-column align-items-center">
                <div class="link-btn modal-btn mb-2" data-action='click->activity#fewer'>
                  <span><i class='option fewer' data-activity-target='fewer'></i></span>
                </div>
                <p>Fewer like this</p>
              </div>
              <div class="iconbox d-flex flex-column align-items-center">
                <div class="link-btn modal-btn mb-2" data-action='click->activity#save'>
                  <span><i class='option <%= encounter && encounter.saved ? 'saved' : 'save' %>' data-activity-target='save'></i> </span>
                </div>
                <p>Save for later</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
            <div class="model-content">
              <div class="row">
                <div class="col-12 mt-2 mb-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">My collections</h3>
                    <span class="btn btn-info border rounded-2"><i class="fa-solid fa-plus" data-action='click->activity#new_collection'></i></span>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="row collection-container">
                <% current_user.collections.each_with_index do |collection| %>
                  <div class="col-12">
                    <div class="collection-card" data-action='click->activity#save' data-activity-target='collection' data-id="<%= collection.id %>">
                      <div class="imgbox">
                        <%= render 'collections/folder_img', activities: collection.activities %>
                      </div>
                      <h4><%= collection.title %></h4>
                    </div>
                  </div>
                <% end %>
                <div class="col-12 d-none">
                  <div class="collection-card">
                    <div class="imgbox">
                      <%= render 'collections/folder_img', activities: [] %>
                    </div>
                    <%= simple_form_for new_collection, data: { activity_target: 'form', action: 'submit->insert-in-list#send' } do |f| %>
                      <%= f.input :title, placeholder: 'Give your collection a title...'%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <% else %>
      <p>Please log in</p>
    <% end %>
  <div class="close-btn" data-action='click->activity#collapse'> <i class="fa-solid fa-xmark"></i></div>
</div>
