<div class="user_review pt-2">
<h2>Reviews</h2>
  <% unless @reviews.present? %>
    <p>There are no reviews... yet!</h2>
  <% else %>
    <% @activity.encounters.each do |review|%>
    <div class="reviewbox mt-3">
      <div class="reviewhead">
        <div class="userinfo">
          <%num = rand(100..999)%>
          <img class="avatar-large" alt="No alt" src="https://ozgrozer.github.io/100k-faces/0/4/004<%=num%>.jpg">
          <h5><%= review.user.name%></h5>
        </div>
        <div class="userrating">
          <h6>Rating</h6>
          <Span>
            <% review.rating.to_i.times do %>
              <%= image_tag "star-five", style: "height:100%;width:20px;margin:0px;padding:0;" %>
            <% end %>
          </Span>
        </div>
      </div>
      <div class="userreviewcontent mt-3 mb-3">
        <p><sup><i class="fa-solid fa-quote-left me-2"></i></sup><%= review.review%><sub><i class="fa-solid fa-quote-right ms-2"></i></sub></p>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>
</div>
<div class="pb-4 user_review-form <%= 'd-none' if @hide_reviewer %>" id="leave-a-review">
  <h3>Add a Review</h3>
    <%= simple_form_for(@encounter) do |f| %>
      <%= f.input :activity_id, as: :hidden, input_html: { value: @activity.id } %>
      <%= f.input :review, placeholder: "Tell us what you think...", label: false %>
      <%= f.input :rating, as: :select, collection: (1..5), required: true, input_html: { data: { controller: "star-rating" } } %>
      <%= f.submit "Submit", class: "btn btn-info mt-2 rounded-4" %>
    <% end %>
</div>
