<section class="activity-details">
  <div class="imgbox">
    <% if @activity.photo.present? %>
      <%= cl_image_tag @activity.photo.key, class: 'img-fluid' %>
    <% else %>
      <%= image_tag "placeholder.gif", alt: "Placeholder image" %>
    <% end %>
    <div class="title">
      <%= link_to request.referer, class: "close-btn" do %>
        <%= image_tag 'return.png', class: "white" %>
      <% end %>
    </div>
  </div>
  <div class="container page-header">
    <div class="row">
      <div class="col-12">
          <div class="row infobox">
                <div class="head">
                  <div class="col-12 textinfo">
                    <h1><%= @activity.title %></h1>
                   </p><% if user_signed_in? %>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= @activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi
                  <% end %></p>
                    <div class="row">
                      <div class="col-6">
                        <p><%= @activity.address %></p>
                      </div>
                      <div class="col-6">
                        <% a = []%>
                        <% @activity.encounters.each do |r|%>
                          <% a.push(r.rating) if r.rating %>
                        <% end %>
                        <% b = a.inject{ |sum, el| sum + el }.to_i / a.size %>

                        <p class="mb-0">Rating</p>
                        <div class="rating d-flex justify-content-start">
                          <% b.times do %>
                            <p class="pe-2"><%= image_tag "star-five", style: "height:100%;width:20px;margin:0px;padding:0;" %></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%# add tab  %>
              <div class="details-tab-container mt-3">
                <nav>
                  <div class="nav nav-tabs mb-3 details-tab" id="nav-tab" role="tablist">
                    <button class="nav-link <%= 'active' unless params[:leave_review].present? %>" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-circle-info"></i></button>
                    <button class="nav-link" id="nav-time-tab" data-bs-toggle="tab" data-bs-target="#nav-time" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fa-solid fa-clock"></i></button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-phone"></i></button>
                    <button class="nav-link <%= 'active' if params[:leave_review].present? %>" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-comments"></i></button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade <%= 'active show' unless params[:leave_review].present? %>" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p><%= @activity.description %></p>
                    <% if @activity.website_url.present? %>
                      <%= link_to 'Visit website', @activity.website_url, class: "visit-btn", target: '_blank' %>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <% if @activity.website_url.present? %>
                      <%= link_to 'Visit website', @activity.website_url, class: "visit-btn", target: '_blank' %>
                    <% end %>
                    <% if @activity.phone_number.present? %>
                    <h6>Phone: <%= @activity.phone_number %></h6>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="nav-time" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h2>Opening Hours</h2>
                    <div class="opening-hours">
                      <p>Monday: <span><%= @activity.monday_opening_hours %></span></p>
                      <p>Tuesday: <span><%= @activity.tuesday_opening_hours %></span></p>
                      <p>Wednesday: <span><%= @activity.wednesday_opening_hours %></span></p>
                      <p>Thursday: <span><%= @activity.thursday_opening_hours %></span></p>
                      <p>Friday: <span><%= @activity.friday_opening_hours %></span></p>
                      <p>Saturday: <span><%= @activity.saturday_opening_hours %></span></p>
                      <p>Sunday: <span><%= @activity.sunday_opening_hours %></span></p>
                    </div>
                  </div>
                  <div class="tab-pane fade <%= 'active show' if params[:leave_review].present? %>" id="nav-review" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <%= render 'review' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
