<section class="activity-details">
  <div class="imgbox">
    <% if @activity.photo.present? %>
      <%= cl_image_tag @activity.photo.key, class: 'img-fluid' %>
    <% else %>
      <%= image_tag "placeholder.gif", alt: "Placeholder image" %>
    <% end %>
    <%= link_to activities_path, class: "close-btn" do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
  </div>
  <div class="container page-header">
    <div class="row">
      <div class="col-12">
          <div class="container infobox">
                <div class="head d-flex justify-content-between align-items-center">
                  <div class="textinfo">
                    <h1><%= @activity.title %></h1>
                   </p><% if user_signed_in? %>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= @activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi
                  <% end %></p>
                    <p><%= @activity.address %></p>
                  </div>
                </div>
              <p><%= @activity.description %></p>
              <% if @activity.website_url.present? %>
                <%= link_to 'Visit website', @activity.website_url, class: "visit-btn", target: '_blank' %>
              <% end %>
                <h2>Opening Hours</h2>
              <div class="opening-hours">
                <p>Monday: <span><%= @activity.monday_opening_hours %></span></p>
                <p>Tuesday: <span><%= @activity.tuesday_opening_hours %></span></p>
                <p>Wednesday: <span><%= @activity.wednesday_opening_hours %></span></p>
                <p>Thursday: <span><%= @activity.thursday_opening_hours %></span></p>
                <p>Friday: <span><%= @activity.friday_opening_hours %></span></p>
                <p>Saturday: <span><%= @activity.saturday_opening_hours %></span></p>
                <p>Sunday: <span><%= @activity.sunday_opening_hours %></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
