<section class="activity-details">
  <div class="imgbox">
    <% if @activity.photo.present? %>
      <%= cl_image_tag @activity.photo.key, class: 'img-fluid' %>
    <% else %>
      <%= image_tag "placeholder.gif", alt: "Placeholder image" %>
    <% end %>
    <%= link_to activities_path, class: "close-btn" do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
  </div>
  <div class="container page-header">
    <div class="row">
      <div class="col-12">
          <div class="container infobox">
                <div class="head d-flex justify-content-between align-items-center">
                  <div class="textinfo">
                    <h1><%= @activity.title %></h1>
                   </p><% if user_signed_in? %>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= @activity.distance_to([current_user.latitude, current_user.longitude]).round(1) %> mi
                  <% end %></p>
                    <p><%= @activity.address %></p>
                  </div>
                </div>
              <p><%= @activity.description %></p>
              <% if @activity.website_url.present? %>
                <%= link_to 'Visit website', @activity.website_url, class: "visit-btn", target: '_blank' %>
              <% end %>
                <h2>Opening Hours</h2>
              <div class="opening-hours">
                <p>Monday: <span><%= @activity.monday_opening_hours %></span></p>
                <p>Tuesday: <span><%= @activity.tuesday_opening_hours %></span></p>
                <p>Wednesday: <span><%= @activity.wednesday_opening_hours %></span></p>
                <p>Thursday: <span><%= @activity.thursday_opening_hours %></span></p>
                <p>Friday: <span><%= @activity.friday_opening_hours %></span></p>
                <p>Saturday: <span><%= @activity.saturday_opening_hours %></span></p>
                <p>Sunday: <span><%= @activity.sunday_opening_hours %></span></p>
              </div>
              <div>
                <% if @activity.encounters.empty? %>
                  <h2>Write the first review on this activity</h2>
                  <%= link_to "Log in now", user_session_path %>
                <% else %>
                  <% @activity.encounters.each do |review|%>
                    <% review.rating.to_i.times do %>
                      <%= image_tag "star-five", style: "height:100%;width:20px;margin:0px;padding:0;" %>
                    <% end %>
                    <%= review.review %>
                    <%= review.user.name%>
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if user_signed_in? %>
                  <h5>Your Review</h5>
                    <%= simple_form_for(@encounter) do |f| %>
                      <%= f.input :activity_id, as: :hidden, input_html: { value: @activity.id } %>
                      <%= f.input :review, placeholder: "Your review is..." %>
                      <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
                      <%= f.submit "Submit", class: "btn btn-flat mt-2" %>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
