<!DOCTYPE html>
<html>
  <head>
    <title>Hero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%# Called header Files %>
      <%= render "shared/navbar" %>
      <%# Called User notification %>
      <%= render "shared/flashes" %>
      <%# Call by View & Controller %>
      <%= yield %>
      <%# Called Footer Files %>
      <%= render "shared/footer" %>
  </body>
</html>
